<?xml version="1.0" encoding="utf-8"?>

<androidx.preference.PreferenceScreen
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <androidx.preference.PreferenceCategory
        android:title="@string/prefGeneral"
        android:key="pref_key_general">
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_showBackupReminders"
            android:summary="@string/prefShowBackupRemindersSummary"
            android:title="@string/prefShowBackupRemindersTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="true"/>
        <androidx.preference.Preference
            android:key="pref_autoBackup"
            android:summary="@string/prefAutoBackupSummary"
            android:title="@string/prefAutoBackupTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="true"/>
        <androidx.preference.ListPreference
            android:key="pref_language"
            android:summary="@string/prefLanguageSummary"
            android:title="@string/prefLanguageTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/languageNames"
            android:entryValues="@array/languageValues"
            android:defaultValue="system"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_tapToCopy"
            android:summary="@string/prefTapToCopySummary"
            android:title="@string/prefTapToCopyTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="true"/>
        <androidx.preference.Preference
            android:key="pref_resetCopyCount"
            android:summary="@string/prefResetCopyCountSummary"
            app:iconSpaceReserved="false"
            android:defaultValue="false"
            android:title="@string/prefResetCopyCountTitle"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_skipToNext"
            android:summary="@string/prefSkipToNextSummary"
            android:title="@string/prefSkipToNextTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
    </androidx.preference.PreferenceCategory>

    <androidx.preference.PreferenceCategory
        android:title="@string/prefSecurity"
        android:key="pref_key_security">
        <androidx.preference.Preference
            android:key="pref_password"
            android:summary="@string/prefPasswordSummary"
            app:iconSpaceReserved="false"
            android:defaultValue="false"
            android:title="@string/prefPasswordTitle"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_databasePasswordBackup"
            android:summary="@string/prefDatabasePasswordBackupSummary"
            android:title="@string/prefDatabasePasswordBackupTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_allowBiometrics"
            android:summary="@string/prefAllowBiometricsSummary"
            app:iconSpaceReserved="false"
            android:defaultValue="false"
            android:title="@string/prefAllowBiometricsTitle"/>
        <androidx.preference.ListPreference
            android:key="pref_timeout"
            android:summary="@string/prefTimeoutSummary"
            android:title="@string/prefTimeoutTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/timeoutNames"
            android:entryValues="@array/timeoutValues"
            android:defaultValue="0"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_tapToReveal"
            android:summary="@string/prefTapToRevealSummary"
            android:title="@string/prefTapToRevealTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
        <androidx.preference.ListPreference
            android:key="pref_tapToRevealDuration"
            android:summary="@string/prefTapToRevealDurationSummary"
            android:title="@string/prefTapToRevealDurationTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/tapToRevealDurationNames"
            android:entryValues="@array/tapToRevealDurationValues"
            android:defaultValue="10"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_allowScreenshots"
            android:summary="@string/prefAllowScreenshotsSummary"
            android:title="@string/prefAllowScreenshotsTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
    </androidx.preference.PreferenceCategory>

    <androidx.preference.PreferenceCategory
        android:title="@string/prefAppearance"
        android:key="pref_key_appearance">
        <androidx.preference.ListPreference
            android:key="pref_theme"
            android:summary="@string/prefThemeSummary"
            android:title="@string/prefThemeTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/themeNames"
            android:entryValues="@array/themeValues"
            android:defaultValue="system"/>
        <androidx.preference.ListPreference
            android:key="pref_viewMode"
            android:summary="@string/prefViewModeSummary"
            android:title="@string/prefViewModeTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/viewModeNames"
            android:entryValues="@array/viewModeValues"
            android:defaultValue="default"/>
        <androidx.preference.ListPreference
            android:key="pref_codeGroupSize"
            android:summary="@string/prefCodeGroupSizeSummary"
            android:title="@string/prefCodeGroupSizeTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/codeGroupSizeNames"
            android:entryValues="@array/codeGroupSizeValues"
            android:defaultValue="3"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_showUsernames"
            android:summary="@string/prefShowUsernamesSummary"
            android:title="@string/prefShowUsernamesTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="true"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_dynamicColour"
            android:summary="@string/prefDynamicColourSummary"
            android:title="@string/prefDynamicColourTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
        <androidx.preference.ListPreference
            android:key="pref_accentColour"
            android:summary="@string/prefAccentColourSummary"
            android:title="@string/prefAccentColourTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/accentColourNames"
            android:entryValues="@array/accentColourValues"
            android:defaultValue="lightBlue"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_transparentStatusBar"
            android:summary="@string/prefTransparentStatusBarSummary"
            android:title="@string/prefTransparentStatusBarTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
        <authenticatorpro.droid.interface.preference.MaterialSwitchPreference
            android:key="pref_systemFont"
            android:summary="@string/prefSystemFontSummary"
            android:title="@string/prefSystemFontTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="false"/>
    </androidx.preference.PreferenceCategory>
</androidx.preference.PreferenceScreen>
