<?xml version="1.0" encoding="utf-8" ?> 
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android">
    <PreferenceCategory
        android:title="@string/pref_security"
        android:key="pref_key_security">
        <CheckBoxPreference
            android:key="pref_requireAuthentication"
            android:summary="@string/pref_requireAuthentication_summary"
            android:title="@string/pref_requireAuthentication_title"
            android:defaultValue="false" />
    </PreferenceCategory>

</PreferenceScreen>
