<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="51"
          android:versionName="2.14.1" package="me.jmh.authenticatorpro" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33"/>
    <uses-feature android:name="android.hardware.type.watch"/>
    <application android:allowBackup="true" android:label="@string/appName" android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true"
                 android:theme="@style/SplashTheme" android:extractNativeLibs="true">
        <uses-library android:name="com.google.android.wearable" android:required="true"/>
        <meta-data android:name="com.google.android.wearable.standalone" android:value="false"/>
    </application>
</manifest>
