<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.1.0" package="me.jmh.authenticatorpro" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<uses-feature android:name="android.hardware.type.watch" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/appName" android:supportsRtl="true" android:theme="@style/AppTheme">
		<uses-library android:name="com.google.android.wearable" android:required="true" />
		<meta-data android:name="com.google.android.wearable.standalone" android:value="false" />
	</application>
</manifest>