<?xml version="1.0" encoding="utf-8"?>

<androidx.preference.PreferenceScreen
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <androidx.preference.PreferenceCategory
        android:title="@string/prefGeneral"
        android:key="pref_key_general">
        <androidx.preference.SwitchPreferenceCompat
            android:key="pref_showBackupReminders"
            android:summary="@string/prefShowBackupRemindersSummary"
            android:title="@string/prefShowBackupRemindersTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="true" />
        <authenticatorpro.preference.AutoBackupPreference
            android:key="pref_autoBackup"
            android:summary="@string/prefAutoBackupSummary"
            android:title="@string/prefAutoBackupTitle"
            app:iconSpaceReserved="false"
            android:defaultValue="true" />
    </androidx.preference.PreferenceCategory>
    
    <androidx.preference.PreferenceCategory
        android:title="@string/prefSecurity"
        android:key="pref_key_security">
        <authenticatorpro.preference.PasswordPreference
            android:key="pref_password"
            android:summary="Password"
            app:iconSpaceReserved="false"
            android:defaultValue="false"
            android:title="Password" />
    </androidx.preference.PreferenceCategory>

    <androidx.preference.PreferenceCategory
        android:title="@string/prefAppearance"
        android:key="pref_key_appearance">
        <androidx.preference.ListPreference
            android:key="pref_theme"
            android:summary="@string/prefThemeSummary"
            android:title="@string/prefThemeTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/themeNames"
            android:entryValues="@array/themeValues"
            android:defaultValue="system" />
        <androidx.preference.ListPreference
            android:key="pref_viewMode"
            android:summary="@string/prefViewModeSummary"
            android:title="@string/prefViewModeTitle"
            app:iconSpaceReserved="false"
            android:entries="@array/viewModeNames"
            android:entryValues="@array/viewModeValues"
            android:defaultValue="default" />
    </androidx.preference.PreferenceCategory>

    <androidx.preference.PreferenceCategory
        android:title="@string/prefMore"
        android:key="pref_key_more">

        <authenticatorpro.preference.AboutPreference
            android:key="pref_key_about"
            android:summary="@string/prefAboutSummary"
            app:iconSpaceReserved="false"
            android:title="@string/prefAboutTitle" />

        <authenticatorpro.preference.RatePreference
            android:key="pref_key_rate"
            android:summary="@string/prefRateSummary"
            app:iconSpaceReserved="false"
            android:title="@string/prefRateTitle" />

        <authenticatorpro.preference.ViewGitHubPreference
            android:key="pref_key_view_github"
            android:summary="@string/prefViewGitHubSummary"
            app:iconSpaceReserved="false"
            android:title="@string/prefViewGitHubTitle" />
    </androidx.preference.PreferenceCategory>
</androidx.preference.PreferenceScreen>