<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          android:versionName="1.24.0"
          package="me.jmh.authenticatorpro" android:installLocation="auto" android:versionCode="100000092">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Disable unused Network State permission from AndroidX Work Manager -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>
    <!-- Disable inherited Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <application android:allowBackup="false" android:label="@string/appName" android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true"
                 android:theme="@style/AppTheme">
    </application>
    <supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true"
                      android:normalScreens="true" android:anyDensity="true"/>
</manifest>
