<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionName="1.15.5"
          package="me.jmh.authenticatorpro" android:installLocation="auto" android:versionCode="1000070">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- Disable unused Network State permission from AndroidX Work Manager -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>
    <application android:allowBackup="false" android:label="@string/appName" android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true"
                 android:theme="@style/AppTheme"></application>
    <supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true"
                      android:normalScreens="true" android:anyDensity="true"/>
</manifest>
